{% load static %}
{% load i18n %}
    <a class="level-item button is-small is-primary" href="{% url liked_namespace article.pk %}?next={{ request.path }}?page={{ articles.number }}">
        {% if request.user in article.likers.all %}
            <span class="icon is-small"><img src="{% static 'img/heart-broken.svg' %}"></span>
            <p>{% trans "Unliked" %}</p>
        {% else %}
            <span class="icon is-small"><img src="{% static 'img/heart.svg' %}"></span>
            <p>{% trans "Liked" %}</p>
        {% endif %}
        ({{ article.likers.count }})
    </a>
    {% if can_share %}
        <a class="level-item button is-small is-warning" href="{% url 'share_article' article.pk %}?next={{ request.path }}?page={{ articles.number }}">
            <span class="icon is-small"><img src="{% static 'img/share.svg' %}"></span>
            <p>{% trans "Share" %}</p>
        </a>
    {% endif %}
    {% if article.author == request.user %}
        <a class="level-item button is-small is-danger" href="{% url delete_namespace article.pk %}?next={{ request.path }}?page={{ articles.number }}">
            <span class="icon is-small"><img src="{% static 'img/delete.svg' %}"></span>
            <p>{% trans "Delete" %}</p></a>
    {% endif %}