{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <p><a href="{% url 'create_article' %}" class="button is-link">Create a new article</a></p>
    {% for article in articles %}
        <div class="message is-small">
            <div class="message-header">
                <p>{{ article.author }}</p>
                {% if article.author == request.user %}
                    <a class="delete is-small" href="{% url 'delete_article' article.pk %}?next={{ request.path }}"></a>
                {% endif %}
            </div>
            <div class="message-body">
                {% if article.photo %}
                    <img src="{{ article.photo.url }}">
                {% endif %}
                <p>{{ article.contains }}</p>
                <p><i>Send Il y'a {{ article.date_created|timesince:datetime }}</i></p>
            </div>
        </div>
    {% empty %}
        Nothing for the moment
    {% endfor %}
    {% with articles as data_to_pagin %}
        {% include 'messenger/pagin.html' %}
    {% endwith %}
{% endblock %}