        <div class="box">
            <article class="media">
                {% if article.author.photo and not request.user.no_media %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ article.author.photo.url }}" alt="Image">
                        </figure>
                    </div>
                {% endif %}
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{% url 'user_details' article.author.pk %}">
                                <strong>
                                    {% if article.author in request.user.get_list_friends or article.author == request.user %}
                                        {{ article.author.first_name }} {{ article.author.last_name }}
                                    {% endif %}
                                </strong>
                                <small>&nbsp;@{{ article.author }}</small>
                            </a> <small style="float:right;">{{ article.date_created|timesince:datetime }}</small>
                            <br>
                            {% if zone_comment is False %}
                                {% with article.contains.splitlines as acs %}
                                    {% if acs|length > 1 %}
                                        {{ acs.0|truncatechars:255 }}...
                                    {% else %}
                                        {{ acs.0|truncatechars:255 }}
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                {% for line in article.contains.splitlines %}
                                    {{ line }}<br/>
                                {% endfor %}
                            {% endif %}
                        </p>
                        {% if article.photo and not request.user.no_media %}
                            <p>
                                <figure class="image">
                                    <img src="{{ article.photo.url }}" alt="Image">
                                </figure>
                            </p>
                        {% endif %}
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            {% if zone_comment is True %}
                                <a href="{% url 'create_comment' article.pk %}?next={{ request.path }}" class="level-item button is-small is-link">Comment ({{ article.comments.count }})</a>
                                {% if article.author == request.user %}
                                    <a class="level-item button is-small is-danger" href="{% url 'delete_article' article.pk %}?next={% url 'articles' %}">Delete</a>
                                {% endif %}
                            {% elif zone_comment is False %}
                                <a class="level-item button is-small is-primary" href="{% url 'liked_article' article.pk %}?next={{ request.path }}?page={{ articles.number }}">
                                    {% if request.user in article.likers.all %}
                                        Unliked
                                    {% else %}
                                        Liked
                                    {% endif %}
                                    ({{ article.likers.count }})
                                </a>
                                <a class="level-item button is-small is-warning" href="{% url 'share_article' article.pk %}?next={{ request.path }}?page={{ articles.number }}">Share</a>
                                {% if article.author == request.user %}
                                    <a class="level-item button is-small is-danger" href="{% url 'delete_article' article.pk %}?next={{ request.path }}?page={{ articles.number }}">Delete</a>
                                {% endif %}
                                <a class="level-item button is-small is-link" href="{% url 'get_comments' article.pk %}">More</a>
                            {% else %}
                                <a class="level-item button is-small is-primary" href="{% url 'liked_comment' article.pk %}?next={{ request.path }}?page={{ articles.number }}">
                                    {% if request.user in article.likers.all %}
                                        Unliked
                                    {% else %}
                                        Liked
                                    {% endif %}
                                    ({{ article.likers.count }})
                                </a>
                                {% if article.author == request.user %}
                                    <a class="level-item button is-small is-danger" href="{% url 'delete_comment' article.pk %}?next={{ request.path }}?page={{ articles.number }}">Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </article>
        </div>