{% load static %}
{% load i18n %}
        <div class="box">
            <article class="media">
                {% if article.author.photo %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            {% if request.user.no_media %}
                                <a href="{{ article.author.photo.url }}">{% trans "See Media" %}</a>
                            {% else %}
                                <img src="{{ article.author.photo.url }}" alt="Image">
                            {% endif %}
                        </figure>
                    </div>
                {% endif %}
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{% url 'user_details' article.author.pk %}">
                                <strong>
                                    {% if article.author in request.user.get_list_friends or article.author == request.user %}
                                        {{ article.author.first_name }} {{ article.author.last_name }}
                                    {% endif %}
                                </strong>
                                <small>&nbsp;@{{ article.author }}</small>
                            </a> <small style="float:right;">{{ article.date_created|timesince:datetime }}</small>
                            <br>
                            {% if zone_comment is False %}
                                {{ article.contains|truncatechars:255|linebreaks }}
                            {% else %}
                                {{ article.contains|linebreaks }}
                            {% endif %}
                        </p>
                        {% if article.photo %}
                            <p>
                                <figure class="image">
                                    {% if request.user.no_media %}
                                        <a href="{{ article.photo.url }}">{% trans "See Media" %}</a>
                                    {% else %}
                                        <img src="{{ article.photo.url }}" alt="Image">
                                    {% endif %}
                                </figure>
                            </p>
                        {% endif %}
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            {% if zone_comment is not None %}
                                {% include 'messenger/article_tools.html' with liked_namespace='liked_article' can_share=True delete_namespace='delete_article' %}
                                {% if zone_comment is True %}
                                    <a href="{% url 'create_comment' article.pk %}?next={{ request.path }}" class="level-item button is-small is-link">
                                        <figure class="image is-16x16"><img src="{% static 'img/comment.svg' %}"></figure>
                                        &nbsp;{% trans "Comment" %} ({{ article.comments.count }})
                                    </a>
                                {% elif zone_comment is False %}
                                    <a class="level-item button is-small is-link" href="{% url 'get_comments' article.pk %}">
                                        <figure class="image is-16x16"><img src="{% static 'img/more.svg' %}"></figure>
                                        &nbsp;{% trans "More" %}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% include 'messenger/article_tools.html' with liked_namespace='liked_comment' can_share=False delete_namespace='delete_comment' %}
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </article>
        </div>