{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8" lang='en'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}">
    </head>
    <body>
        <nav class="navbar is-link">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'user_details' request.user.pk %}" style="font-weight:bold;">
                        {{ request.user }}
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{% url 'settings' %}" class="navbar-item">
                            {% trans "Settings" %}</a>
                        <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
                    </div>
                </div>
            </div>
        </nav>
        <br/>
        {% block contains %}
        {% endblock %}
        <script type="text/javascript">
        (function() {
  var burger = document.querySelector('.burger');
  var nav = document.querySelector('#'+burger.dataset.target);
  burger.addEventListener('click', function(){
    burger.classList.toggle('is-active');
    nav.classList.toggle('is-active');
  });
})();
        </script>
    </body>
</html>