{% extends 'messenger/base.html' %}
{% block contains %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header title">{{ title }}</header>
                <div class="card-content" style="">
                    {% include "messenger/forms.html" %}
                </div>
                <footer class="card-footer">
                    {% block footer %}{% endblock %}
                </footer>
            </div>
        </div>
        <div class="column">
        </div>
    </div>
{% endblock %}