{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <h1 class="subtitle">
        Discussion with {{ user.username }} ({{ messages.paginator.count }})
    </h1>
    <p>
        {% if user.photo %}
            <figure class="image is-64x64">
                {% if request.user.no_media %}
                    <a href="{{ user.photo.url }}"></a>
                {% else %}
                    <img src="{{ user.photo.url }}" alt="Image">
                {% endif %}
            </figure>
        {% endif %}
    </p>
    <a href="{% url 'user_details' user.pk %}" class="button is-link is-small">See his details</a>
    <a href="{% url 'send_message' user.pk %}" class="button is-primary is-small">Send message</a>
    <br/><br/>
    {% include 'messenger/pagin_up.html' with data_to_pagin=messages %}
    <br/>
    {% for message in messages %}
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{% url 'user_details' message.sender.pk %}">
                                <strong>
                                    {% if message.sender in request.user.get_list_friends or message.sender == request.user %}
                                        {{ message.sender.first_name }} {{ message.sender.last_name }}
                                    {% endif %}
                                </strong>
                                <small>&nbsp;@{{ message.sender }}</small></a> <small style="float:right;">{{ message.date_created|timesince:datetime }}</small>
                            <br>
                            {{ message.contains|truncatechars:255 }}
                        </p>
                        {% if message.photo %}
                            <p>
                                <figure class="image">
                                    {% if request.user.no_media %}
                                        <a href="{{ message.photo.url }}">See Media</a>
                                    {% else %}
                                        <img src="{{ message.photo.url }}" alt="Image">
                                    {% endif %}
                                </figure>
                            </p>
                        {% endif %}
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <i class="level-item">
                                {% if message.received %}
                                    <font color='green'>Received: {{ message.date_received|timesince:datetime }}</font>
                                {% else %}
                                    <font color='red'>Not received</font>
                                {% endif %}
                            </i>
                            {% if message.sender == request.user %}
                                <a class="level-item button is-small is-danger" href="{% url 'delete_message' message.pk %}?next={{ request.path }}?page={{ messages.number }}">Delete</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% empty %}
        <p>Nothing for the moment</p>
    {% endfor %}
    {% include 'messenger/pagin_down.html' with data_to_pagin=messages %}
{% endblock %}