{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <h1 class="subtitle">
        Discussion with {{ user.username }} ({{ messages.paginator.count }})
    </h1>
    <a href="{% url 'user_details' user.pk %}" class="button is-link is-small">See his details</a>
    <a href="{% url 'send_message' user.pk %}" class="button is-primary is-small">Send message</a>
    <br/><br/>
    {% with messages as data_to_pagin %}
        {% include 'messenger/pagin.html' %}
    {% endwith %}
    <br/>
    {% for message in messages %}
        <div class="message is-small {% if message.sender == request.user %}is-link{% else %}is-primary{% endif %}">
            <div class="message-header">
                <p>{{ message.sender }}</p>
                {% if message.sender == request.user %}
                    <a class="delete is-small" href="{% url 'delete_message' message.pk %}?next={{ request.path }}?page={{ messages.number }}"></a>
                {% endif %}
            </div>
            <div class="message-body">
                {% if message.photo %}
                    <img src="{{ message.photo.url }}">
                {% endif %}
                <p>{{ message.contains }}</p>
                <p><i>Send by {{ message.sender }}: Il y'a {{ message.date_created|timesince:datetime }}</i></p>
                <p>
                    <i>
                        {% if message.received %}
                            Received by {{ message.receiver }}: Il y'a {{ message.date_received|timesince:datetime }}
                        {% else %}
                            Not received by {{ message.receiver }}
                        {% endif %}
                    </i>
                </p>
            </div>
        </div>
    {% empty %}
        <p>Nothing for the moment</p>
    {% endfor %}
{% endblock %}