{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <a href="{% url 'send_message' user.pk %}" class="button is-primary is-small">Send message</a>
    <h1 class="title">Discussion with {{ user }}</h1>
    {% for message in messages %}
        <div class="message is-small">
            <div class="message-header">
                <p>{{ message.sender }}</p>
                <p>(il y'a {{ message.date_created|timesince:datetime }})</p>
            </div>
            <div class="message-body">
                {{ message.contains }}
            </div>
        </div>
    {% empty %}
        <p>Nothing for the moment</p>
    {% endfor %}
{% endblock %}