{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <h1 class="title">List friends ({{ friends.paginator.count }})</h1>
    {% for friend in friends %}
        <div class="card">
            <header class="card-header">
                {{ friend.username }}
            </header>
            <div class="card-content">
                <p>photo</p>
                <a href="{% url 'send_message' friend.pk %}" class="button is-link is-small">Send message</a>&nbsp;&nbsp;<a href="{% url 'user_details' friend.pk %}" class="button is-link is-small" title="Click to see his details">See his details</a>
            </div>
        </div>
    {% empty %}
        No friends for the moment
    {% endfor %}
    {% with friends as data_to_pagin %}
        {% include 'messenger/pagin.html' %}
    {% endwith %}
{% endblock %}