{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <a class="button is-primary is-small" href="{% url 'list_users' %}">Find friends</a>
    <h1 class="title">Frienship en attente ({{ friendships.paginator.count }})</h1>
    {% for friendship in friendships %}
        <div class="card">
            <p>Depuis {{ friendship.date_created|timesince:datetime }}</p>
            {% if friendship.sender != request.user %}
                <a href="{% url 'user_details' friendship.sender.pk %}" title="Click to see his details">
                    <header class="card-header">
                        Demande d'amitier de {{ friendship.sender }}
                    </header>
                </a>
            {% else %}
                <a href="{% url 'user_details' friendship.receiver.pk %}" title="Click to see his details">
                    <header class="card-header">
                        Demande d'amitier avec {{ friendship.receiver }} en attente
                    </header>
                </a>
            {% endif %}
            <div class="card-content">
                {{ friendship.message }}
            </div>
            <footer class="card-footer">
                <a class="button is-danger is-small" href="{% url 'delete_friendship' friendship.pk %}">
                    {% if friendship.sender != request.user %}
                        Refuser
                    {% else %}
                        Annuler
                    {% endif %}
                </a>
                {% if friendship.sender != request.user %}
                    <a class="button is-success is-small" href="{% url 'accept_friendship' friendship.pk %}">
                        Accepter
                    </a>
                {% endif %}
            </footer>
        </div>
    {% empty %}
        <p>Nothing for the moment</p>
    {% endfor %}
    {% with friendships as data_to_pagin %}
        {% include 'messenger/pagin.html' %}
    {% endwith %}
{% endblock %}