{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <h1 class="title">List friends</h1>
    {% for friend in friends %}
        <div class="card">
            <header class="card-header">
                <a href="{% url 'user_wall' friend.pk %}">{{ friend.username }}</a>
            </header>
            <!--
            <div class="card-content">
                <p>photo</p>
            </div>
            -->
            <footer class="card-footer">
                <a class="button is-danger is-small" href="{% url 'delete_friend' friend.pk %}">
                    Delete friendship
                </a>
            </footer>
        </div>
    {% empty %}
        No friends for the moment
    {% endfor %}
{% endblock %}