{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <h1 class="title">List users</h1>
    {% for user in users %}
        <div class="card">
            <header class="card-header">
                <a href="{% url 'user_wall' user.pk %}">{{ user.username }}</a>
            </header>
            <div class="card-content">
                <p>Adhesion: {{ user.date_joined }}</p>
                <p>Date of birth: {{ user.date_of_birth }}</p>
            </div>
            <footer class="card-footer">
                {% if user in friends %}
                    Already friend
                {% elif user in waiting_friends %}
                    Friendship in waiting
                {% else %}
                    <a class="button is-success is-small" href="{% url 'create_friendship' user.pk %}">
                        Send friendship
                    </a>
                {% endif %}
            </footer>
        </div>
    {% empty %}
        No others users for the moment
    {% endfor %}
{% endblock %}