{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <h1 class="subtitle">List friends ({{ friends.paginator.count }})</h1>
    {% include 'messenger/pagin_up.html' with data_to_pagin=friends %}
    {% for friend in friends %}
        <div class="box">
            <div class="columns">
                {% if friend.photo %}
                    <div class="column is-2 is-marginless">
                        <div class="image is-64x64">
                            {% if request.user.no_media %}
                                <a href="{{ friend.photo.url }}">See Media</a>
                            {% else %}
                                <img src="{{ friend.photo.url }}">
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="column is-9 is-left">
                    <p>
                        <a href="{% url 'user_details' friend.pk %}">
                            <strong>
                                {% if friend in request.user.get_list_friends or friend == request.user %}
                                    {{ friend.first_name }} {{ friend.last_name }}
                                {% endif %}
                            </strong>
                            <small>&nbsp;@{{ friend }}</small></a> <small style="float:right;"></small>
                        </a>
                    </p>
                    <a href="{% url 'send_message' friend.pk %}" class="button is-link is-small">Send message</a>
                </div>
            </div>
        </div>
    {% empty %}
        No friends for the moment
    {% endfor %}
    {% include 'messenger/pagin_down.html' with data_to_pagin=friends %}
{% endblock %}