{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <a class="button is-primary is-small" href="{% url 'list_users' %}">Find friends</a>
    <h1 class="subtitle">Frienship en attente ({{ friendships.paginator.count }})</h1>
    {% include 'messenger/pagin_up.html' with data_to_pagin=friendships %}
    {% for friendship in friendships %}
        <div class="box">
            <article class="media">
                {% if friendship.sender != request.user and friendship.sender.photo and not request.user.no_media %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ friendship.sender.photo.url }}" alt="Image">
                        </figure>
                    </div>
                {% elif friendship.sender == request.user and friendship.receiver.photo and not request.user.no_media %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ friendship.receiver.photo.url }}" alt="Image">
                        </figure>
                    </div>
                {% endif %}
                <div class="media-content">
                    <div class="content">
                        <p>
                            {% if friendship.sender != request.user %}
                                <a href="{% url 'user_details' friendship.sender.pk %}" title="Click to see his details"><small>@{{ friendship.sender }}</a></small> <small style="float:right;">{{ friendship.date_created|timesince:datetime }}</small>
                                <br/>
                                Demande d'amitier de {{ friendship.sender }}
                            {% else %}
                                <a href="{% url 'user_details' friendship.receiver.pk %}" title="Click to see his details"><small>@{{ friendship.receiver }}</a></small> <small style="float:right;">{{ friendship.date_created|timesince:datetime }}</small>
                                <br/>
                                Demande d'amitier avec {{ friendship.receiver }} en attente
                            {% endif %}
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <a class="level-item button is-danger is-small" href="{% url 'delete_friendship' friendship.pk %}">
                                {% if friendship.sender != request.user %}
                                    Refuser
                                {% else %}
                                    Annuler
                                {% endif %}
                            </a>
                            {% if friendship.sender != request.user %}
                                <a class="level-item button is-success is-small" href="{% url 'accept_friendship' friendship.pk %}">
                                    Accepter
                                </a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% empty %}
        <p>Nothing for the moment</p>
    {% endfor %}
    {% include 'messenger/pagin_down.html' with data_to_pagin=friendships %}
{% endblock %}