{% extends 'messenger/panel.html' %}
{% load static %}
{% load i18n %}
{% block column_contains %}
    <h1 class="subtitle">{% trans "List users" %} ({{ users.paginator.count }})</h1>
    {% include 'messenger/pagin_up.html' with data_to_pagin=users %}
    {% for user in users reversed %}
        <div class="box">
            <article class="media">
                {% if user.photo %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            {% if request.user.no_media %}
                            <a href="{{ user.photo.url }}">{% trans "See Media" %}</a>
                            {% else %}
                                <img src="{{ user.photo.url }}" alt="Image">
                            {% endif %}
                        </figure>
                    </div>
                {% endif %}
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{% url 'user_details' user.pk %}">
                                <strong>
                                    {% if user in request.user.get_list_friends or user == request.user %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% endif %}
                                </strong>
                                <small>&nbsp;@{{ user }}</small></a> <small style="float:right;"></small>
                            </a>
                        </p>
                        <p>{% trans "Adhesion" %}: {{ user.date_joined }}</p>
                        <p>{% trans "Date of birth" %}: {{ user.date_of_birth }}</p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            {% if user in friends %}
                                <a class="level-item button is-danger is-small card-footer-item" disabled>{% trans "Already friend" %}</a>
                            {% elif user in waiting_friends %}
                                <a class="level-item button is-danger is-small card-footer-item" disabled>{% trans "Friendship in waiting" %}</a>
                            {% else %}
                                <a class="level-item button is-success is-small card-footer-item" href="{% url 'create_friendship' user.pk %}">
                                    <figure class="image is-16x16"><img src="{% static 'img/paper-plane.svg' %}"></figure>
                                    &nbsp;{% trans "Send friendship" %}
                                </a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% empty %}
        {% trans "Not others users for the moment" %}
    {% endfor %}
    {% include 'messenger/pagin_down.html' with data_to_pagin=users %}
{% endblock %}