{% extends 'messenger/panel.html' %}
{% load i18n %}
{% block column_contains %}
    <h1 class="subtitle">{% trans "Select a discussion" %} ({{ users.paginator.count }})</h1>
    {% include 'messenger/pagin_up.html' with data_to_pagin=users %}
    {% for last_message in last_messages %}
        <div class="box">
            <article class="media">
                {% if last_message.user.photo %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            {% if request.user.no_media %}
                                <a href="{{ last_message.user.photo.url }}">{% trans "See Media" %}</a>
                            {% else %}
                                <img src="{{ last_message.user.photo.url }}" alt="Image">
                            {% endif %}
                        </figure>
                    </div>
                {% endif %}
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{% url 'user_details' last_message.user.pk %}">
                                <strong>
                                    {% if last_message.user in request.user.get_friends or last_message.user == request.user %}
                                        {{ last_message.user.first_name }} {{ last_message.user.last_name }}
                                    {% endif %}
                                </strong>
                                <small>&nbsp;@{{ last_message.user }}</small>
                            </a> <small style="float:right;">{{ last_message.message.date_created|timesince:datetime }}</small>
                            <br>
                            <b>{% trans "Last Message" %}:</b> {{ last_message.message.contains|truncatechars:100|linebreaks }}
                            {% if not last_message.message.received and last_message.message.receiver == request.user %}
                                <p><span class="button is-primary is-small">Has New</span></p>
                            {% endif %}
                        </p>
                        {% if last_message.message.photo %}
                            <p>
                                <figure class="image">
                                    {% if request.user.no_media %}
                                        <a href="{{ last_message.message.photo.url }}">{% trans "See Media" %}</a>
                                    {% else %}
                                        <img src="{{ last_message.message.photo.url }}" alt="Image">
                                    {% endif %}
                                </figure>
                            </p>
                        {% endif %}
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <a href="{% url 'get_messages' last_message.user.pk %}" class="level-item button is-small is-info">{% trans "Open" %}</a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    {% empty %}
        {% trans "Nothing for the moment" %}
    {% endfor %}
    {% include 'messenger/pagin_down.html' with data_to_pagin=users %}
{% endblock %}