{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <div class="message is-small">
        <div class="message-header">
            <span>Notification ({{ notifications.paginator.count }})</span>
        </div>
        {% include 'messenger/pagin_up.html' with data_to_pagin=notifications %}
        {% for notification in notifications %}
            <div class="message-body">
                <a href="{{ notification.url }}">
                    {{ notification }}
                </a>&nbsp;
                <a class="delete is-small" title="delete" href="{% url 'delete_notification' notification.pk %}?next={{ request.path }}?page={{ notifications.number }}"></a>
                <p>Il y'a {{ notification.date_created|timesince:datetime }}</p>
            </div>
        {% empty %}
            <div class="message-body">
                Nothing for the moment
            </div>
        {% endfor %}
        {% include 'messenger/pagin_down.html' with data_to_pagin=notifications %}
    </div>
{% endblock %}