{% extends 'messenger/base.html' %}
{% block contains %}
    <div class="tabs is-centered is-fullwidth is-small">
        <ul>
            <li><a href="{% url 'articles' %}">Actualite</a></li>
            <li><a href="{% url 'messages' %}">
                Messages
                {% with request.user.messages.first as rumf %}
                    {% if rumf.received is False and rumf.receiver == request.user %}
                        &nbsp;<font color="red">(New)</font>
                    {% endif %}
                {% endwith %}
            </a></li>
            <li><a href="{% url 'list_friends' %}">Friends</a></li>
            <li><a href="{% url 'list_friendships' %}">
                Friendships
                {% if request.user.waiting_friends.count %}
                    &nbsp;<font color="red">(New)</font>
                {% endif %}
            </a></li>
            <li><a href="{% url 'list_notifications' %}">
                Notifications
                {% if request.user.notifications.first.received is False %}
                    &nbsp;<font color="red">(New)</font>
                {% endif %}
            <li><a>Settings</a></li>
        </ul>
    </div>
    <div class='columns is-mobile'>
        <div class="column is-one-fifth"></div>
        <div class="column">
            {% block column_contains %}
                <center>Select a menu</center>
            {% endblock %}
        </div>
        <div class="column is-one-fifth">
        </div>
    </div>
{% endblock %}