{% extends 'messenger/panel.html' %}
{% block column_contains %}
    <div class="card">
        <header class="card-header">
            {{ user.username }}
        </header>
        <div class="card-content">
            <div class="card-image" align="center">
                {% if user.photo %}
                    <img src="{{ user.photo.url }}">
                {% else %}
                    no image
                {% endif %}
            </div>
            <p>Adhesion: {{ user.date_joined }}</p>
            <p>Date of birth: {{ user.date_of_birth }}</p>
            {% if user in friends or user == request.user %}
                <p>Friends: {{ user.friends.count }}</p>
                <p>Active: {{ user.is_active }}</p>
                <p>Date joined: {{ user.date_created }}</p>
                <p>Last login: Il y'a {{ user.last_login|timesince:datetime }}</p>
                <p>Email: {{ user.email|default:"No entry" }}</p>
                <p>First name: {{ user.first_name|default:"No entry" }}</p>
                <p>Last name: {{ user.last_name|default:"No entry" }}</p>
            {% endif %}
        </div>
        {% if user != request.user %}
            <footer class="card-footer">
                <a href="{% url 'send_message' user.pk %}" class="button is-link is-small card-footer-item">Send message</a>
                {% if user in friends %}
                    <a class="button is-danger is-small card-footer-item" href="{% url 'delete_friend' user.pk %}">Delete friendship</a>
                {% elif user in waiting_friends %}
                    <a class="button is-danger is-small card-footer-item" disabled>Friendship in waiting</a>
                {% else %}
                    <a class="button is-success is-small card-footer-item" href="{% url 'create_friendship' user.pk %}">
                        Send friendship
                    </a>
                {% endif %}
            </footer>
        {% endif %}
    </div>
{% endblock %}