{% extends 'messenger/panel.html' %}
{% load static %}
{% load i18n %}
{% block column_contains %}
    <div class="card">
        <header class="card-header subtitle">
            {{ user.username }}
        </header>
        <div class="card-content">
            <div class="card-image" align="center">
                {% if user.photo %}
                    <figure class="image is-fullwidth">
                        {% if request.user.no_media %}
                            <a href="{{ user.photo.url }}">{% trans "See Media" %}</a>
                        {% else %}
                            <img src="{{ user.photo.url }}">
                        {% endif %}
                    </figure>
                {% endif %}
            </div>
            <span class='subtitle'>{% trans "Details" %}:</span>
            <p><b>{% trans "Adhesion" %}:</b> {{ user.date_joined }}</p>
            <p><b>{% trans "Date of birth" %}:</b> {{ user.date_of_birth }}</p>
            {% if user in friends or user == request.user %}
                <p><b>{% trans "Friends" %}:</b> {{ user.get_list_friends|length }}</p>
                <p><b>{% trans "Active" %}:</b> {{ user.is_active }}</p>
                <p><b>{% trans "Date joined" %}:</b> {{ user.date_created }}</p>
                <p><b>{% trans "Last login" %}:</b> {{ user.last_login|timesince:datetime }}</p>
                <p><b>{% trans "Email" %}:</b> {{ user.email|default:"No entry" }}</p>
                <p><b>{% trans "First name" %}:</b> {{ user.first_name|default:"No entry" }}</p>
                <p><b>{% trans "Last name" %}:</b> {{ user.last_name|default:"No entry" }}</p>
                {% get_language_info for user.language|default:'en' as lang %}
                <p><b>{% trans "Language" %}:</b> {{ lang.name_local }} -- {{ lang.name }}</p>
            {% endif %}
        </div>
        {% if user != request.user %}
            <footer class="card-footer">
                <a href="{% url 'send_message' user.pk %}" class="button is-link is-small card-footer-item">
                    <span class="icon is-small"><img src="{% static 'img/paper-plane.svg' %}"></span>
                    <p>{% trans "Send message" %}</p>
                </a>
                {% if user in friends %}
                    <a class="button is-danger is-small card-footer-item" href="{% url 'delete_friend' user.pk %}">
                        <span class="icon is-small"><img src="{% static 'img/delete.svg' %}"></span>
                        <p>{% trans "Delete friendship" %}</p>
                    </a>
                {% elif user in waiting_friends %}
                    <a class="button is-danger is-small card-footer-item" disabled>{% trans "Friendship in waiting" %}</a>
                {% else %}
                    <a class="button is-success is-small card-footer-item" href="{% url 'create_friendship' user.pk %}">
                        <span class="icon is-small"><img src="{% static 'img/paper-plane.svg' %}"></span>
                        <p>{% trans "Send friendship" %}</p>
                    </a>
                {% endif %}
            </footer>
        {% endif %}
        {% include 'messenger/articles.html' with articles=articles %}
    </div>
{% endblock %}